.contacts {
    &__title {
        @extend %title_section;
        margin-bottom: 22px;
    }
    &__form {
        display: flex;
        flex-direction: column;
        max-width: 391px;
        &__name,
        &__phone,
        &__email,
        &__liked_goods,
        &__message {
            width: 100%;
            background-color: #F3F3F3;
            padding: 14px 21px;
            border: none;
            color: $color_dark_gray;
            @extend %tt_hover_400;
            font-size: 14px;
            line-height: normal;
            letter-spacing: 0.56px;
            &::placeholder {
                color: $color_for_placeholder;
                @extend %tt_hover_400;
                font-size: 14px;
                line-height: normal;
                letter-spacing: 0.56px;
            }    
        }
        &__phone,
        &__email,
        &__liked_goods,
        &__message {
            margin-top: 10px;
        }
        &__message {
            resize: none;
            height: 147px;
            margin-bottom: 22px;
        }
        &__police {
            cursor: pointer;
            display: flex;
            column-gap: 16px;
            position: relative;
            margin-bottom: 21px;
            svg {
                path {
                    display: none;
                }
            }
        }
        &__checkbox {
            transform: scale(0);
            position: absolute;
            top: 0;
            left: 0;
            &:checked + svg {
                path {
                    display: block;
                }
            }
            &-name {
                @extend %tt_hover_400;
                font-size: 14px;
                line-height: normal;
                letter-spacing: 0.42px;
            }
        }
        &__btn {
            @extend %buttons_link;
            cursor: pointer;
            color: #FFF;
            background-color: $color_dark_gray;
            border: none;
        }
    }
    &__banner {
        width: 100%;
        height: 366px;
        background-image: url('../images/banner.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right top;
        &__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.wrapper {
    display: flex;
    column-gap: 30px;
    margin-bottom: 120px;
}

@media(max-width: $mw_800) {
    .contacts {
        &__banner {
            display: none;
        }
        &__form {
            max-width: 100%;
            &__police {
                align-items: center;
            }
        }
    }
    .wrapper {
        display: block;
        margin-bottom: 50px;
    }
}

