.nav {
    .container {        
        background-color: #fff;
        display: flex;
        align-items: center;
        height: 102px;
    }
    &__menu {
        display: flex;
        background-color: #fff;
    }
    &__menu_logo {
        display: flex;
        flex-direction: column;
        font-size: 8px;
        transition: all .3s;
        margin-right: 330px;
        color: $color_dark_gray;
        svg {
            margin: 0 auto 4px;
            g {
                transition: all .3s;
            }
        }
        &:hover {
            svg {
                g {
                    fill: $color_light_gray;
                }
            }
            color: $color_light_gray;
        }
    }
    &__menu_item {
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 2.4px;
        & + .nav__menu_item {
            margin-left: 60px;
        }
    }
    &__menu_item__link {
        transition: all .3s;
        color: $color_dark_gray;
        &:hover {
            color: $color_light_gray;
        }
        &.nav__menu--active {
            border-top: 1px solid $color_dark_gray;
            border-bottom: 1px solid $color_dark_gray;
            cursor: default;
            &:hover {
                color: $color_dark_gray;
            } 
        }
    }
    &.sticky {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        opacity: 0;
        z-index: 4;
        animation-name: fixed_nav;
        animation-duration: .5s;
        animation-fill-mode: forwards;
    }
    &__menu_btn {
        padding: 0;
        border: none;
        background-color: transparent;
        cursor: pointer;
        display: none;
        svg {
            path {
                transition: all .3s;
            }
        }
        &:hover {
            svg {
                path {
                    fill: $color_light_gray;
                }
            }
        }
    }
}

@keyframes fixed_nav {
    100% {
        opacity: 1;
    }
}

@media(max-width: $mw_1200) {
    .nav {
        .container {
            justify-content: space-between;
        }
        &__menu_logo {
            margin-right: 0;
        }
    }
}

@media(max-width: $mw_800) {
    .nav {
        .container {
            height: 70px;
        }
        position: relative;
        z-index: 9;
        &__menu_btn {
            display: inline-block;
        }
        &__menu {
            display: block;
            position: absolute;
            top: -202px;
            left: 0;
            right: 0;
            z-index: -2;
            transition: all .5s;
            &.visible {
                top: 70px;
            }
        }
        &__menu_item {
            text-align: center;
            & + .nav__menu_item {
                margin-left: 0;
                margin-top: 5px;                
            }
            &__link {
                display: block;
                padding: 10px 0;
            }
        }
    }
}