.projects {
    margin-bottom: 120px;
    &__title {
        @extend %title_section;
        margin-bottom: 60px;
    }
    &__list {
        display: grid;
        grid-template-areas: 
            'pr_1 pr_1 pr_1 pr_2 pr_2 pr_2' 
            'pr_3 pr_4 pr_4 pr_4 pr_5 pr_5';
        grid-template-rows: 255px 255px;
        gap: 30px;
    }
    &__item {
        overflow: hidden; 
        position: relative;
        width: 100%;
        height: 255px;
        @include grid_area(5);
        &:hover {            
            .projects__item-link {
                transform: scale(1);
            }
            .projects__item-link__wrapper {
                animation-name: project_hover;
                animation-duration: .3s;
                animation-delay: .3s;
                animation-fill-mode: forwards;
            }
        }
        &_img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &-link {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $color_dark_gray;
            opacity: 0.8;
            transform: scale(0);
            transition: all .3s;
        }
        &-link__wrapper {
            max-width: 413px;
            color: #FFF;
            opacity: 0;
            h3 {
                @extend %tt_hover_700;
                font-size: 64px;
                line-height: 64px;
                margin-bottom: 14px;
            }
            span {
                @extend %gothic_a1_400;
                font-size: 12px;
                line-height: 12px;
                letter-spacing: 2.4px;
                display: flex;
                align-items: center;
            }
        }
    } 
    &__all_projects_link {
        @extend %buttons_link;
        color: #FFF;
        background-color: $color_dark_gray;
        margin-left: auto;        
        margin-top: 30px;
    }   
}

@keyframes project_hover {
    100% {
        opacity: 1;
    }
}

@media(max-width: $mw_1220) {
    .projects {
        &__list {
            grid-template-areas: 
            'pr_1 pr_1 pr_1 pr_2 pr_2 pr_2' 
            'pr_3 pr_3 pr_4 pr_4 pr_5 pr_5';
        }
        &__item-link__wrapper {
            h3 {
                max-width: 250px;
                font-size: 40px;
                line-height: 40px;
            }
        }
    }
}

@media(max-width: $mw_992) {
    .projects {
        &__list {
            grid-template-areas: 
            'pr_1 pr_1 pr_3' 
            'pr_5 pr_2 pr_2'
            'pr_4 pr_4 pr_4';
        }
    }
}

@media(max-width: $mw_800) {
    .projects {
        margin-bottom: 50px;
        &__list {
            grid-template-areas: 
            'pr_1 pr_1 pr_1 pr_1' 
            'pr_2 pr_2 pr_2 pr_2'
            'pr_3 pr_3 pr_5 pr_5'
            'pr_4 pr_4 pr_4 pr_4';
        }
    }
}

@media(max-width: $mw_600) {
    .projects {
        &__title {
            margin-bottom: 40px;
        }
        &__list {
            grid-template-areas: 'pr_1' 'pr_2' 'pr_3' 'pr_4' 'pr_5';
        }
    }
}