// colors
$color_dark_gray: #333;
$color_light_gray: #BDBDBD;
$color_for_placeholder: #8D8D8D;

//fonts
%tt_hover_700 {
    font-family: 'TTHoves-Bold', sans-serif;
    font-weight: 700;
}

%tt_hover_500 {
    font-family: 'TTHoves-Medium', sans-serif;
    font-weight: 500;
}

%tt_hover_400 {
    font-family: 'TTHoves-Regular', sans-serif;
    font-weight: 400;
}

%tt_hover_300 {
    font-family: 'TTHoves-Light', sans-serif;
    font-weight: 300;
}

%open_sans_400 {
    font-family: 'OpenSans-Regular', sans-serif;
    font-weight: 400;
}

%roboto_900 {
    font-family: 'Roboto-Black', sans-serif;
    font-weight: 900;
}

%gothic_a1_400 {
    font-family: 'GothicA1-Regular', sans-serif;
    font-weight: 400;
}

%buttons_link {
    width: 222px;
    height: 71px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    @extend %tt_hover_400;
    color: $color_dark_gray;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2.4px;
    transition: all .3s;
    svg {
        path {
            transition: all .3s;
        }
    }
    &:hover {
        color: $color_light_gray;
        box-shadow: inset 0px 0px 15px $color_for_placeholder;
        svg {
            path {
                fill: $color_light_gray;
            }
        }
    }
}

%title_section {
    color: $color_light_gray;
    font-size: 64px;
    line-height: 64px;
}

@mixin grid_area($item) {
    @for $i from 1 through $item {
        &:nth-child(#{$i}) {
            grid-area: pr_#{$i};
        }
    }
}

// brakepoints adaptive
$mw_1220: 1220px;
$mw_1200: 1200px;
$mw_1100: 1100px;
$mw_992:   992px;
$mw_800:   800px;
$mw_772:   772px;
$mw_700:   700px;
$mw_600:   600px;
$mw_520:   520px;


@media(max-width: $mw_700) {
    %title_section {
        color: $color_light_gray;
        font-size: 40px;
        line-height: 40px;
    }
}