@font-face {
    font-family: 'TTHoves-Bold', sans-serif;
    font-weight: 700;
    font-style: normal;
    src: local('TTHoves-Bold'),
            url(../fonts/TTHoves-Bold.woff),
            url(../fonts/TTHoves-Bold.woff2);
    font-display: swap;
}

@font-face {
    font-family: 'TTHoves-Light', sans-serif;
    font-weight: 300;
    font-style: normal;
    src: local('TTHoves-Bold'),
            url(../fonts/TTHoves-Light.woff),
            url(../fonts/TTHoves-Light.woff2);
    font-display: swap;
}

@font-face {
    font-family: 'TTHoves-Medium', sans-serif;
    font-weight: 500;
    font-style: normal;
    src: local('TTHoves-Medium'),
            url(../fonts/TTHoves-Medium.woff),
            url(../fonts/TTHoves-Medium.woff2);
    font-display: swap;
}

@font-face {
    font-family: 'TTHoves-Regular', sans-serif;
    font-weight: 400;
    font-style: normal;
    src: local('TTHoves-Regular'),
            url(../fonts/TTHoves-Regular.woff),
            url(../fonts/TTHoves-Regular.woff2);
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans-Regular', sans-serif;
    font-weight: 400;
    font-style: normal;
    src: local('OpenSans-Regular'),
            url(../fonts/OpenSans-Regular.woff),
            url(../fonts/OpenSans-Regular.woff2);
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Black', sans-serif;
    font-weight: 900;
    font-style: normal;
    src: local('Roboto-Black'),
            url(../fonts/Roboto-Black.woff),
            url(../fonts/Roboto-Black.woff2);
    font-display: swap;
}

@font-face {
    font-family: 'GothicA1-Regular', sans-serif;
    font-weight: 400;
    font-style: normal;
    src: local('GothicA1-Regular'),
            url(../fonts/GothicA1-Regular.woff),
            url(../fonts/GothicA1-Regular.woff2);
    font-display: swap;
}