.footer {
    background-color: #2C2C2C;
    &__top {
        color: #fff;
        padding: 58px 0 60px;
        border-bottom: 2px solid #ffffff1a;
        .container {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            gap: 30px;
            flex-wrap: wrap;
        }
        &__title {
            @extend %tt_hover_700;
            font-size: 16px;
            font-style: normal;
            line-height: normal;
            margin-bottom: 25px;
        }
    }
    &__top_link {
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 23px;    
        @extend %tt_hover_400;
        transition: color .3s;
        width: 201px;
        svg {
            width: 74px;
            height: 71px;   
            margin-bottom: 10px;
            fill: #fff;
            g {
                transition: fill .3s;
            }
        }
        &:hover {
            color: $color_light_gray;
            svg {
                g {
                    fill: $color_light_gray;
                }
            }
        }
    }
    &__top__information {
        &_item {
            & + .footer__top__information_item {
                margin-top: 16px;
            }
        }
        &_link {
            color: #FFF;
            @extend %tt_hover_500;
            font-size: 14px;
            font-style: normal;
            line-height: 24px;
            letter-spacing: 0.42px;
            transition: all .3s;
            &:hover {
                color: $color_light_gray;
            }
        }
    }
    &__top__contacts {
        &_list {
            max-width: 300px;
        }
        &_item {
            & + .footer__top__contacts_item {
                margin-top: 16px;
            }
        }
        &_link {
            display: flex;
            align-items: flex-start;
            column-gap: 19px;
            color: #FFF;
            @extend %tt_hover_500;
            font-size: 14px;
            font-style: normal;
            line-height: 24px;
            letter-spacing: 0.42px;
            transition: all .3s;
            svg {
                margin-top: 4px;
                path {
                    transition: all .3s;
                }
            }
            &:hover {
                color: $color_light_gray;
                svg {
                    path {
                        stroke: $color_light_gray;
                    }
                }
            }
        }
    }
    &__top__social {
        &_list {
            display: flex;
            align-items: center;
            column-gap: 40px;
        }
        &_link {
            transition: all .3s;
            svg {
                g {
                    path {
                        transition: all .3s;
                    }
                }
            }
            &:hover {
                svg {
                    g {
                        path {
                            fill: $color_light_gray;
                        }
                    }
                }
            }
        }
    }
    &__bottom {
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__copyright {
            margin: 24px 0;
            color: rgba(200, 200, 200, 0.50);
            @extend %open_sans_400;
            font-size: 12px;
            font-style: normal;
            line-height: 22px;
        }
    }
}

@media(max-width: $mw_992) {
    .footer {
        &__top {
            .container {
                display: grid;
                grid-template-areas: 
                    'logo information contacts'
                    'social information contacts';
            }
            &_link {
                grid-area: logo;
            }
            &__information {
                grid-area: information;
            }
            &__contacts {
                grid-area: contacts;
            }
            &__social {
                grid-area: social;
            }
        }
    }
}

@media(max-width: $mw_700) {
    .footer {
        &__top {
            padding: 25px 0;
            .container {
                display: grid;
                grid-template-areas: 
                    'logo social'
                    'information contacts';
            }
            &__social {
                margin-top: auto;
            }
        }
        &__bottom__copyright {
            margin: 12px 0;
        }
    }
}

@media(max-width: $mw_520) {
    .footer {
        &__top {
            padding: 25px 0;
            .container {
                display: flex;
                flex-direction: column;
            }
            &__information {
                // margin-left: auto;
                // width: 300px;
                &_list {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 15px;
                }
                &_item + .footer__top__information_item {
                    margin-top: 0;
                }
            }
        }
    }
}